*{
    margin: 0;
    padding: 0;
    
}

.navbar{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    scroll-behavior: smooth;
}
.logo{
    
    height: 46px;
    margin: 15px 15px;
    width: 10%;
    display: flex;
}

.logo img {
    height: 46px;
margin: 15px 15px;
margin-top: 1px;
border: 4px solid black;
border-radius: 7px;
}
 .navbar ul {
    display: flex;
    list-style: none;
    
 }
 .navbar ul li a {
    color: black;
    display: block;
    font-size: 18px;
    padding: 18px 64px;
    border-radius: 20px;
    text-decoration: none;
 }
 
 .navbar ul li a:hover {
    color: rgb(234, 76, 19);
    border: 2px solid green;
    background-color: rgb(34, 0, 128);
    border-radius: 22px;
    cursor: pointer;
}
.navbar{
    position: sticky;
    top: 0px;
}
.classmain{
    display: grid;
    margin: 30px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 40px;
    margin-left: 20px;
    grid-template-columns: 44rem 44rem;
    grid-gap: 1rem;

}
.box1{
    background-color: grey;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 20px ;

}
.box1 h1 {
    display: flex;
    align-items: center;
}
.box1 img {
    height: 40px;
    width: 40px;
    margin-right: 7px;
    border: 4px solid pink;
    border-radius: 22px;
}
.box2 {
    background-color: grey;
    border: 2px solid black;
    border-radius: 3px;
    margin-top:20px;
    padding-top:30px;
}
.box2 img {
    height: 40px;
    width: 40px;
    border: 4px solid pink;
    border-radius: 22px;
}
.box2 h1 {
    display: flex;
    align-items: center;
    justify-content: left;
}
.section{
    background: url('img/bg.jpg');
    background-attachment: fixed;
}
.apart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 h2{
 text-align: center;
 color: red; 
}
.class2{
    border: 4px double black;
    color: rgba(22, 22, 22, 0.911);
    border-radius: 2px;
    margin: 20px;
}
.section2 h2{
    text-align: center;
    color: rgba(255, 0, 0, 0.879);  
   }
   .form h3{
    text-align: center;
    color: rgba(255, 0, 0, 0.879); 
    margin-top: 1px;
    
   }
   .form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: bisque;

    border: 8px solid pink;
    border-radius: 24px;
   }
   .btn{
    margin: 20px;
    padding: 30px;
    border: 2px dotted black;
    border-radius: 22px;
    background-color: pink;
    cursor: pointer;
   }
   #secid{
    background: url('img/bg.jpg');
    background-attachment: fixed;
   }
   